@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.upTop {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #ffd200;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 3000;
}

.upTop:hover {
  color: #ffdb33;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

.icon {
  font-size: 20px;
  color: #333333;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px 26px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid #ffd200;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons btn {
  margin-right: 30px;
}

.buttons btn:last-child {
  margin-right: 0;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__button:hover {
  -webkit-animation-name: pulse animated;
          animation-name: pulse animated;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  margin-left: 8px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 80px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-top: 18px;
  margin-bottom: 36px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  line-height: 24px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  font-size: 14px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__image img {
  width: 20px;
}

.hero-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-image img {
  width: 100%;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__text {
    font-size: 14px;
  }
  .hero-text {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-right: 0;
  }
  .hero-text__title {
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

/* Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.jpg");
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 30px;
  padding: 26px 100px;
  font-size: 16px;
}

.offer-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  line-height: 24px;
}

.offer-explanation .explanation__text .phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer-explanation .explanation__text:first-child {
  width: 50%;
  margin-right: 50px;
}

.offer-explanation .explanation__text .phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .offer__subtitle {
    margin-bottom: 27px;
    font-size: 14px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    margin-bottom: 27px;
    padding: 19px 64px;
    font-size: 13px;
  }
  .offer-explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-explanation .explanation__text {
    width: 100%;
    margin-right: 0;
  }
  .offer-explanation .explanation__text:first-child {
    width: 100%;
    margin-right: 0;
  }
  .offer-explanation .explanation__text:not(:first-child) {
    margin-top: 18px;
  }
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-explanation .explanation__text:not(:first-child) {
    margin-top: 18px;
  }
  .offer-explanation .explanation__text:first-child {
    width: 224px;
  }
}

/* Стили для блока портфолио*/
.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows__left, .arrows__right {
  width: 45px;
  height: 19px;
  border: none;
  outline: none;
}

.arrows__left {
  display: inline-block;
  background: url("../img/portfolio/left-arrow.png");
}

.arrows__right {
  display: inline-block;
  background: url("../img/portfolio/right-arrow.png");
}

.slider__image {
  max-width: 370px;
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 40px 0 64px 0;
    background: none;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .slider__image {
    max-width: 100%;
  }
}

/* Стили для блока с ценами*/
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  margin: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__img {
  display: block;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price {
    padding: 50px 0;
  }
  .price__title {
    margin-bottom: 27px;
  }
  .price__subtitle {
    margin-bottom: 61px;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}

/* Стили для блока 5 шагов до ремонта*/
.step {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.step:after {
  position: absolute;
  top: -10px;
  right: -15%;
  width: 72px;
  height: 25px;
  content: '';
  background: url("../img/steps/arrow.png") no-repeat center;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.step__text {
  margin: auto;
  max-width: 160px;
  font-size: 14px;
  line-height: 20px;
}

.steps {
  padding: 50px 0 90px 0;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  max-width: 600px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 45px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    /*flex-basis: 50%*/
  }
  .step__image {
    margin-bottom: 22px;
  }
  .step__text {
    font-size: 12px;
  }
  .step:after {
    top: -15px;
    right: -25%;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step__image {
    margin-bottom: 22px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Подключаем стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 15px 20px 20px 20px;
  border-radius: 5px;
}

.modal-dialog__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px 3px 0 0;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 4px;
}

.modal-dialog__input {
  width: 100%;
  margin-bottom: 30px;
}

.modal-dialog__button {
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
