@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.upTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: #ffd200;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 3000;
}

.upTop:hover {
  color: #ffdb33;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

.icon {
  font-size: 20px;
  color: #333333;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px 26px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid #ffd200;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons btn {
  margin-right: 30px;
}

.buttons btn:last-child {
  margin-right: 0;
}

.form-group {
  position: relative;
  display: block;
}

.input.invalid {
  border: 2px solid #ff5454;
}

div.invalid {
  position: absolute;
  bottom: 106px;
  right: 15px;
  display: inline-block;
  padding: 6px 5px;
  max-width: 200px;
  font-size: 12px;
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: #ff5454;
  border: 2px solid #333333;
  border-radius: 4px;
}

div.invalid:before {
  content: '';
  position: absolute;
  right: 12px;
  bottom: -9px;
  width: 12px;
  height: 12px;
  background: #ff5454;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1200px) {
  div.invalid div.invalid {
    bottom: 90px;
  }
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__button:hover {
  -webkit-animation-name: pulse animated;
          animation-name: pulse animated;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  margin-left: 8px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 80px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-top: 18px;
  margin-bottom: 36px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  line-height: 24px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  font-size: 14px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__image img {
  width: 20px;
}

.hero-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-image img {
  width: 100%;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__text {
    font-size: 14px;
  }
  .hero-text {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-right: 0;
  }
  .hero-text__title {
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

/* Стили для блока offer */
.offer {
  position: relative;
  background: url("../img/offer/offer-bg.jpg");
  background-position: center right;
  background-size: contain;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer .form-group {
  display: inline-block;
  width: 240px;
}

.offer .form-group:first-child {
  margin-right: 10px;
}

.offer__input {
  margin-bottom: 30px;
  width: 100%;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 30px;
  padding: 26px 100px;
  font-size: 16px;
}

.offer-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  line-height: 24px;
}

.offer-explanation .explanation__text .phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer-explanation .explanation__text:first-child {
  width: 50%;
  margin-right: 50px;
}

.offer-explanation .explanation__text .phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .offer__subtitle {
    margin-bottom: 27px;
    font-size: 14px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    margin-bottom: 27px;
    padding: 19px 64px;
    font-size: 13px;
  }
  .offer .form-group {
    width: 100%;
  }
  .offer div.invalid {
    bottom: 85px;
  }
  .offer-explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-explanation .explanation__text {
    width: 100%;
    margin-right: 0;
  }
  .offer-explanation .explanation__text:first-child {
    width: 100%;
    margin-right: 0;
  }
  .offer-explanation .explanation__text:not(:first-child) {
    margin-top: 18px;
  }
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-explanation .explanation__text:not(:first-child) {
    margin-top: 18px;
  }
  .offer-explanation .explanation__text:first-child {
    width: 224px;
  }
}

/* Стили для блока портфолио*/
.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows__left, .arrows__right {
  width: 45px;
  height: 19px;
  border: none;
  outline: none;
}

.arrows__left {
  display: inline-block;
  background: url("../img/portfolio/left-arrow.png");
}

.arrows__right {
  display: inline-block;
  background: url("../img/portfolio/right-arrow.png");
}

.slider__image {
  max-width: 370px;
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 40px 0 64px 0;
    background: none;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .slider__image {
    max-width: 100%;
  }
}

/* Стили для блока с ценами*/
.price {
  color: #000000;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.price .card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.price .card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price .card:hover .card__image:before {
  opacity: 1;
}

.price .card__text {
  margin: 40px;
}

.price .card__title {
  margin-top: 0;
}

.price .card__image {
  position: relative;
}

.price .card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price .card__img {
  display: block;
}

.price .card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.price .card__link:hover:after {
  height: 12px;
}

.price .card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price {
    padding: 50px 0;
  }
  .price__title {
    margin-bottom: 27px;
  }
  .price__subtitle {
    margin-bottom: 61px;
  }
  .price .card {
    width: 100%;
  }
  .price .card img {
    width: 100%;
  }
}

/* Стили для блока 5 шагов до ремонта*/
.step {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  color: #000000;
}

.step:after {
  position: absolute;
  top: -10px;
  right: -15%;
  width: 72px;
  height: 25px;
  content: '';
  background: url("../img/steps/arrow.png") no-repeat center;
  -webkit-animation-name: rotateInDownLeft;
          animation-name: rotateInDownLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.step__text {
  margin: auto;
  max-width: 160px;
  font-size: 14px;
  line-height: 20px;
}

.steps {
  padding: 50px 0 90px 0;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  max-width: 600px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 45px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    /*flex-basis: 50%*/
  }
  .step__image {
    margin-bottom: 22px;
  }
  .step__text {
    font-size: 12px;
  }
  .step:after {
    top: -15px;
    right: -25%;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step__image {
    margin-bottom: 22px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Стили для блока бриф*/
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.brif .form-group {
  width: 100%;
  max-width: 370px;
}

.brif div.invalid {
  bottom: 90px;
}

.brif .interview {
  padding-right: 70px;
  color: #000000;
}

.brif .interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.brif .interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.brif .interview-list {
  list-style: none;
  padding: 0;
}

.brif .interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.brif .interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  min-width: 35px;
  font-size: 14px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.brif .interview-list__text {
  max-width: 400px;
}

.brif .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brif .form__title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.brif .form__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.brif .form__description {
  display: block;
}

@media (max-width: 1200px) {
  .brif {
    background-size: 50%, cover;
  }
  .brif__form {
    padding-left: 30px;
  }
  .brif .interview {
    padding-right: 30px;
  }
  .brif .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 60px;
  }
  .brif .interview__subtitle {
    margin-bottom: 30px;
  }
  .brif .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .brif .interview-list__counter {
    margin-right: 20px;
  }
  .brif .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .brif .form__subtitle {
    margin-bottom: 30px;
  }
  .brif .form-group {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .brif {
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
  .brif .interview {
    margin-top: 60px;
  }
  .brif .form-group {
    display: inline-block;
  }
}

/* Стили для блока скидки*/
.discount-title {
  background-color: #ffc000;
  margin: auto;
}

.discount-title__text {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 95px;
  max-width: 845px;
  font-size: 32px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  line-height: 50px;
  color: #000000;
}

.discount .section {
  padding: 10px 0 60px 0;
}

.discount .block {
  margin-top: 100px;
  margin-right: 30px;
  max-width: 370px;
  background-color: #f7f7f7;
}

.discount .block:last-child {
  margin-right: 0;
}

.discount .block__text {
  display: inline-block;
  margin-top: 20px;
  margin-left: 27px;
  margin-right: 50px;
  margin-bottom: 60px;
  height: 60px;
  ont-size: 16px;
  line-height: 23px;
  color: #000000;
}

.discount .block__text span {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.discount .block__image {
  width: 100%;
}

.discount .block__image img {
  width: 100%;
}

.discount .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.discount .section-title {
  padding-top: 5px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .discount-title__text {
    margin-top: 72px;
    margin-bottom: 76px;
    margin-left: 33px;
    margin-right: 33px;
    font-size: 18px;
    line-height: 1.1;
  }
  .discount .block {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .discount .block:nth-child(1) {
    margin-top: 60px;
  }
  .discount .block__text {
    max-width: 350px;
    ont-size: 12px;
    line-height: 16.83px;
  }
  .discount .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .discount-title__text {
    margin-top: 72px;
    margin-bottom: 76px;
    margin-left: 33px;
    margin-right: 33px;
    font-size: 18px;
    line-height: 1.1;
  }
  .discount .block {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
  .discount .block__image {
    width: 100%;
  }
  .discount .block__image img {
    width: 100%;
  }
  .discount .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Стили для блока гарантии*/
.guarantees {
  padding: 0 0 90px 0;
}

.guarantees .section-title {
  max-width: 700px;
}

.guarantees__title {
  margin: auto;
  margin-bottom: 100px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.guarantees .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.guarantees .block:last-child {
  margin-right: 0px;
}

.guarantees .block__text {
  max-width: 290px;
  text-align: center;
  margin-top: 41px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.guarantees .block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 270px;
  height: 360px;
  background-color: #f5f5f5;
}

.guarantees .block__image img:nth-child(1) {
  width: 219px;
}

.guarantees .block__image img:nth-child(2) {
  width: 208px;
}

.guarantees .block__image img:nth-child(3) {
  width: 215px;
}

.guarantees .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .guarantees {
    padding: 0 0 90px 0;
  }
  .guarantees .section-title {
    max-width: 100%;
  }
  .guarantees__title {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .guarantees .block {
    margin-right: 0;
  }
  .guarantees .block__text {
    margin: auto;
    font-size: 14px;
  }
  .guarantees .block__text:nth-child(1) {
    max-width: 139px;
  }
  .guarantees .block__text:nth-child(2) {
    max-width: 222px;
  }
  .guarantees .block__text:nth-child(3) {
    max-width: 213px;
  }
  .guarantees .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Стили для подвала*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.contacts-list__icon {
  margin-right: 25px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: #ffc000;
}

.contacts-list__icon i {
  display: block;
  margin-top: 5px;
}

.contacts-list__icon .rotate-x {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.contacts-list__text {
  max-width: 150px;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.contacts-list__text .b {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__text a {
  color: #000000;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .footer .contacts {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .map {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: inherit;
    width: 100%;
  }
  .footer .contacts {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 60px;
    padding: 0;
  }
  .footer .contacts__title {
    margin-top: 67px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .footer .contacts-list__icon {
    margin-right: 15px;
  }
}

/* Подключаем стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 15px 20px 20px 20px;
  border-radius: 5px;
}

.modal-dialog__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px 3px 0 0;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 4px;
}

.modal-dialog__input {
  width: 100%;
  margin-bottom: 30px;
}

.modal-dialog__button {
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */